
<div class="container-fluid">
    <div class="box">
    <div class="row">
        <div class="col-md-6">
            <img src="../assets/images/user.png" id="ima">
        </div>
        <div class="col-md-6">
   

 
   <label>Email :</label><br>

   <input type="text" [(ngModel)]="email"><br>
   <label>Password :</label><br>

   <input type="password" [(ngModel)]="passwrd"><br><br>

   <button class="btn btn-primary" (click)="login(this.email,this.passwrd)" > login</button>
</div>
</div>
</div>
</div>
